html {
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    background-color: beige
}


.navbar-brand{
    padding-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar{
    
    /* \\background-color: gray !important;  */
}

#colorbeich{
    background-color: beige !important;
}



.h1{
    
    
}

#breaker{
    height: 20px;
    background-color: beige;

}

body{
}


iframe{
    background-color: beige;
}

i{
    padding-right: 10px;

   color: rgb(225, 138, 16);
}


#reviews{

    background-color: darkgray;
    border-radius: 5px;
    height: 30px;
    width: 400px;
}


.container-sm {
    width: 440px; /* Can be in percentage also. */
    
}