html {
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    background-color: beige
}


.navbar-brand{
    padding-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar{
    
    /* \\background-color: gray !important;  */
}

#colorbeich{
    background-color: beige;
}



.h1{

    
}

i{
    padding-right: 10px;

   color: rgb(225, 138, 16);
}