body{
    background-color: #666666;


}

td,tr{
    text-align: center;
    color: white;
    
}

.img-centro{
    display: block;
    margin: 0 auto;
    height: 60%;
    margin-top: 20pt;
}

table{
    margin: 0 auto;
    width: 1200px;
    border-collapse: collapse;
    border-spacing: 0 0;
}

.img{
    width: 220px;
    height: 150px;
    display: block;
    float: left;
    border-spacing: 0 0;
}

